Button
{
	cornerRadius: 3;
   textIndent: 0;
   paddingLeft: 0;
   paddingRight: 0;
   highlightAlphas: 0.12, 0.1;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffaa00, #ffffee, #ffcc00, #ff8800;
   borderColor: #000000;
   /* setting this ruins the rollOverColor for LinkButtons
	themeColor: #333333;*/
   color: #000000;
}

ButtonExt
{
	selectedColors: #ffffff, #ffffff, #ffffff, #ffffff;
	unselectedColors: #ffaa00, #ffffee, #ffcc00, #ff8800;
	skin: ClassReference("com.UI.DAMEButtonSkin");
	downSkin: ClassReference("com.UI.DAMEButtonSkin");
	disabledSkin: ClassReference("com.UI.DAMEButtonSkin");
	selectedUpSkin: ClassReference("com.UI.DAMEButtonSkin");
	selectedOverSkin: ClassReference("com.UI.DAMEButtonSkin");
	selectedDownSkin: ClassReference("com.UI.DAMEButtonSkin");
	selectedDisabledSkin: ClassReference("com.UI.DAMEButtonSkin");
}

LinkButton
{
	cornerRadius: 6;
	rollOverColor: #ffcc00;
	selectionColor: #ff9900;
	textRollOverColor: #000000;
	textSelectedColor: #ffffff;
	fontFamily: "Verdana";
	fontSize:10;
	fontWeight: bold;
	textDecoration: underline;
	paddingTop:0;
	paddingBottom:0;
}

CheckBox
{
	color: black;
	textRollOverColor: #0000ff; 
}

ComboBox
{
	color: #000000;
}

Canvas
{
	backgroundColor:#888888;
}

DockablePage
{
	backgroundAlpha: 1;
	borderAlpha: 0;
	borderStyle: none;
	borderThicknessLeft: 0;
    borderThicknessTop: 0;
    borderThicknessBottom: 0;
    borderThicknessRight: 0;
	dropShadowEnabled: false;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	paddingBottom: 0;
	verticalGap: 0;
	backgroundColor: #ffee88;
}

.SpecialLabelStyle
{
	color: #ff0000;
}

Label {
	color: #000000;
}

Panel {
    headerHeight:             20;
    roundedBottomCorners:     true;
    borderThicknessTop:     0;
    borderThicknessBottom:     3;
    borderThicknessLeft:     3;
    borderThicknessRight:     3;
    borderAlpha:             1.0;
	backgroundColor:		#ff8800;
    color:                    #666666;
    fontSize:                10;
    titleStyleName:         "mypanelTitle";

}

.mypanelTitle {
    fontFamily: Arial;
    fontSize:     11;
    color:        #ffffff;
    fontWeight: bold;
}

Tree {
   backgroundColor: #ffffee;
   rollOverColor: #ff8800;
   textRollOverColor: #ffff00;
   borderThickness: 1;
   borderColor: #000000;
   selectionColor: #ffcc00;
   color: #000000;
   textSelectedColor: #000000;
   indentation: 12;
   openDuration: 200;
   fontWeight: bold;
   folderClosedIcon: ClassReference(null);
	folderOpenIcon: ClassReference(null);
	defaultLeafIcon: ClassReference(null);
	borderStyle:solid;
}

DataGrid {
 backgroundColor: #ffffee;
   rollOverColor: #ff8800;
   textRollOverColor: #ffff00;
   borderThickness: 1;
   borderColor: #000000;
   selectionColor: #ffcc00;
   color: #000000;
   textSelectedColor: #000000;
   indentation: 12;
   openDuration: 200;
   fontWeight: bold;
   folderClosedIcon: ClassReference(null);
	folderOpenIcon: ClassReference(null);
	defaultLeafIcon: ClassReference(null);
	borderStyle:solid;
	alternatingItemColors: #ffffff, #ffffcc;
}

TextInput {
	color: #000000;
}

PropertyGridRenderer
{
	defaultColor: #aaaaaa;
	changedColor: #000000;
}
		
NumericStepper
{
	color: black;
	fontSize: 10;
	upArrowSkin:Embed("../assets/arrowUpIconUp.png");
	upArrowOverSkin:Embed("../assets/arrowUpIconDown.png");
	upArrowDownSkin:Embed("../assets/arrowUpIconDown.png");
	downArrowSkin:Embed("../assets/arrowDownIconUp.png");
	downArrowOverSkin:Embed("../assets/arrowDownIconDown.png");
	downArrowDownSkin:Embed("../assets/arrowDownIconDown.png");
}

HScrollBar
{
	width: 50;
}

.toolBarPanel
{
	headerHeight: "0";
	borderStyle: "none";
	backgroundAlpha: "0";
}

.Toolbars
{
	verticalGap: 0;
	backgroundImage: ClassReference("com.UI.GradientBackground");
	backgroundSize: "100%";
	fillColors: #ffbb00, #ffdd00, #ff8800;
	fillAlphas: 1, 1, 1;
	fillRatios: 0, 60, 255;
	borderSides:bottom;
	borderColor:black;
}

.RibbonHeader 
{
	borderSkin: ClassReference("com.UI.GradientBackground");
	backgroundSize: "100%";
	fillColors: #ff8800, #ffb000, #ee5500;
	fillAlphas: 1, 1, 1;
	fillRatios: 0, 60, 255;
	height: 25;
	color:#ffffff;
	fontFamily: Verdana;
    fontSize: 11;
    fontWeight: bold;
	borderStyle:solid;
	borderSides: top, bottom;
	borderSize: 1;
	borderColor: black;
}

.SelectedRibbonHeader 
{
	borderSkin: ClassReference("com.UI.GradientBackground");
	backgroundSize: "100%";
	fillColors: #ee5500, #ffb000, #ff8800;
	fillAlphas: 1, 1, 1;
	fillRatios: 0, 200, 255;
	height: 25;
	color:#ffffff;
	fontFamily: Verdana;
    fontSize: 11;
    fontWeight: bold;
	borderStyle:solid;
	borderSides: top, bottom, left, right;
	borderSize: 1;
	borderColor: white;
}

SwatchPanelFixed {
	backgroundColor:#E5E6E7;
	columnCount:20;
	horizontalGap:0;
	previewHeight:22;
	previewWidth:45;
	swatchGridBackgroundColor:#000000;
	swatchGridBorderSize:0;
	swatchHeight:18;
	swatchHighlightColor:#FFFFFF;
	swatchHighlightSize:1;
	swatchWidth:18;
	textFieldWidth:72;
	verticalGap:0;
}

TabNavigator 
{
	backgroundColor:#ff8800;
	color:#aaaaaa;
	selectedTabTextStyleName: "MySelectedTab";
	tabStyleName: "tabs";
	borderStyle: inset;
}

.tabs
{
	backgroundColor: #ff8800;
	fillAlphas: 0.8, 0.8;
	fillColors: #ff8800, #ffb000;
	borderStyle: none;
	borderColor: #dddddd;
	textRollOverColor: #440000;
}
.MySelectedTab {
	backgroundColor: #ff8800;
	color: #000000;
	textRollOverColor: #440000;
}

DameStatusBar
{
	backgroundColor: #ff4400;
	fontFamily: "Helvetica","Arial";
	fontSize: 13;
	fontWeight: bold;
	fontColor: #ffffff;
}

.popUpMenu {
	color: #000000;
}

/* in colours popup the window is really small so make the colour swatch small too so it fits */
.colorsPopupSwatchPanelStyle {
      swatchHeight:10;
      swatchWidth:10;
	  horizontalGap:0;
	  verticalGap:0;
	  swatchBorderSize:0;
  }

WindowedApplication {
	statusBarBackgroundColor:#ff4400;
	statusBarColor:#ffffff;
	color:#ffffff;
}

Window {
   borderColor: #fea500;
   borderAlpha: 1;
   borderThickness: 2;
   roundedBottomCorners: true;
   cornerRadius: 10;
   headerHeight: 22;
   backgroundAlpha: 1;
   titleBarColors: #ffb000, #ee5500;
   backgroundColor: #ffffee;
   titleTextStyleName: "mywindowTitle";
}

.mywindowTitle {
   letterSpacing: 0;
   color: #ffffff;
   fontWeight: bold;
}


.updateDialogWindow { 
   backgroundColor: #292929;
   cornerRadius: 0;
   borderColor: #292929;
   dropShadowEnabled: true;
}

.updateDialogTextArea {
    fontFamily: Lucida Grande, Verdana, Arial, sans;
	font-size: 10;
	font-weight: normal;
	leading: 0;
	border-color: #222222;
	background-color: #393939;
	padding-left: 6;
	padding-right: 6;
	border-thickness: 1;
	background-alpha: 1;
	border-style: solid;
	color: #ffffff;	
}

.updateDialogText {
	font-weight: bold;
	color: #ffffff;
	font-family: Lucida Grande, Verdana, Arial, sans;
	font-size: 10;
}

.updateDialogLabel {
    paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	color: #ffffff;
	font-family: Lucida Grande, Verdana, Arial, sans;
	font-size: 10;
	font-weight: normal;
}

.updateDialogHRule{
   strokeColor: #333333;
   shadowColor: #333333;
}

.installDialogProgress {
   borderColor: #444444;
   barColor: #2ca42c;
   trackColors: #242424, #242424;
   trackHeight: 15;
}

.updateDialogProgress {
   borderColor: #444444;
   barColor: #3475a6;
   trackColors: #242424, #242424;
   trackHeight: 15;
}

.updateDialogButton {
	color:#ffffff;
	fontSize:14;
	fontFamily:"Verdana";
	backgroundColor: #202020;
	borderColor: #484848;
	fillColors: #FFFFFF, #CCCCCC, #FFFFFF, #EEEEEE;
	textRollOverColor: #ffffff;
   	textSelectedColor: #ffffff;
}

.updateDialogCheckbox {
	color:#ffffff;
	fontSize:14;
	fontFamily:"Verdana";
	backgroundColor: #202020;
	borderColor: #484848;
	fillColors: #FFFFFF, #CCCCCC, #FFFFFF, #EEEEEE;
	textRollOverColor: #ffffff;
   	textSelectedColor: #ffffff;
}
	
.updateTitle {
	color: #FFFFFF;
	fontFamily: "Verdana";
	fontSize: 19;
}

ExtendedDividedBox{
    barBorderColor:            #EE9819;
    barFillColors:             #FAE38F,#EE9819;
    dividerThickness:         10; 
	dividerBackgroundColor:		#FF0000;
	dividerBackgroundAlpha:		1;
}

.minComps{
	buttonFace:		#ffcc88;
}

.customTextAlignLabel 
{
	textAlign: left;
}
